.container
  .row
    .col-12
      %h1 Mockup TOC
      %p Mock-up page test for design discussion
      %h2 Home
      %ul
        %li
          %a{href:'/pages/mockup/home'} Home Mockup
      %h2 Admin
      %ul
        %li
          %a{href:'/pages/mockup/admin_landing'} Admin Landing Mockup
        %li
          %a{href:'/pages/mockup/admin_page_editor'} Admin Page Editor
      %h2 Subject(s)
      %ul
        %li
          %a{href:'/pages/mockup/subject_promo'} Subject Promo
        %li
          %a{href:'/pages/mockup/subject_toc'} Subject TOC
        %li
          %a{href:'/pages/mockup/subject_page'} Subject Page
        %li
          %a{href:'/pages/mockup/user_landing'} User Landing
