!!!!
%html{lang:'eng'}
  %head
    %title AutoTrainer
    %meta{charset:'utf-8'}
    %meta{name:'viewport', content:'width=device-width', 'intial-scale':1, 'shirk-to-fit':'no'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media:'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{href:root_path} AutoTrainer
      %button.navbar-toggler{type:'button', data:{toggle:'collapse', target:'#navbar-menu'}}
      #navbar-menu.collapse.navbar-collapse
        %ur.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{href:root_path} Home
    = yield
